[Oo]bj/
[Bb]in/
*.user
*.vspscc
*.suo
*.cache
packages/
msbuild.log
artifacts/log
artifacts/
post-build*
_ReSharper.*
deploy-to-ec2*
bld
AppPackages/
*.v11.suo
[Dd]ebug/
*.opensdf
*.sdf
ARM/
Release/
x64/
sampleDbs/
gtfswin8/gtfswin8.v11.suo
gtfswin8/gtfswin8.jsproj.user