.numbers {
    padding: 0px;
    width: 45px;
    text-align: center;          
    font-size: 42px;
    font-weight: normal;    /* options are normal, bold, bolder, lighter */
    font-style: normal;   /* options are normal or italic */
    color: #FFFFFF;       /* change color using the hexadecimal color codes for HTML */
}
.title {    /* the styles below will affect the title under the numbers, i.e., “Days”, “Hours”, etc. */
    border-style: none;
    padding: 0px 0px 0px 0px;
    width: 45px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;    /* options are normal, bold, bolder, lighter */
    color: #FFFFFF;       /* change color using the hexadecimal color codes for HTML */
}
#table {
    width: 400px;
    height: 70px;
    border-style: ridge;
    border-width: 3px;
    border-color: rgba(0,0,0,0)  ;     /* change color using the hexadecimal color codes for HTML */
    background-color: rgba(0,0,0,0);   /* change color using the hexadecimal color codes for HTML */
    margin: 0px auto;
    margin-top: 200px;
    margin-left: -70px;
    position: relative;   /* leave as "relative" to keep timer centered on your page, or change to "absolute" then change the values of the "top" and "left" properties to position the timer */
    top: 0px;            /* change to position the timer */
    left: 0px;            /* change to position the timer; delete this property and it's value to keep timer centered on page */
}

/* WVGA Support */
@media screen and (min-device-width : 480px) and (max-device-width : 480px){
    #table {
        margin-top:300px;
           width: 550px
    }
    .numbers {
        font-size: 52px;
    }
    .title {
        font-size: 20px;
    }

}

/* WXGA Support */
@media screen and (min-device-width : 768px) and (max-device-width : 768px){
    #table {
        margin-top:300px;
          width: 550px
    }
    .numbers {
        font-size: 52px;
    }
    .title {
        font-size: 20px;
    }
}

/* 720p Support */
@media screen and (min-device-width : 720px) and (max-device-width : 720px){
    #table {
        margin-top:320px;
        width: 550px
    }
    .numbers {
        font-size: 52px;
    }
    .title {
        font-size: 20px;
    }
}